<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITEM DISPLAY</title>
    {% load static %}

</head>
<body>
<form method="post">
    {% csrf_token %}
<div id="div1">
    <input name="Itemnumber" id="item">employ_id</input>
    <button id="btn">print</button>
</div>
    </form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static '/js/index.js' %}"></script>
</body>
</html>
