<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITEM DISPLAY</title>
    {% load static %}

</head>
<body>


<div id="div1">
    {% csrf_token %}
    <input name="Itemnumber" id="item">employ_id</input>
    <button id="btn">print</button>
</div>

<div id="details">
<select class="fullwidth font12" id="idselect">
    <option value="0">option---</option>
    <option value="1">printer</option>
</select>
</div>
<input type="checkbox" id="Checklabell" class="chk" onclick="showlabel()">
<label class="labels" > Bin label </label>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static '/js/index.js' %}"></script>
</body>
</html>
